<div class="header">
  <h2>Resend unlock instructions</h2>
</div>

<%= render 'users/shared/error' %>

<div class="form form-std">
  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'you@example.com' %>
    </div>

    <div class="actions">
      <%= f.submit "Resend unlock instructions", class: 'btn btn-primary' %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>