<%= javascript_include_tag 'rails_month_dates' %>

<div class="header">
  <h1>Editing event</h1>
</div>
<div class="form form-std">
  <%= form_for :event, url: user_event_path(current_user, @event), method: :patch do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :recurrence %>
      <%= f.select :recurrence, options_for_select([['One-time', 'one-time'], ['Daily', 'daily'], ['Weekly', 'weekly'], 
                                                    ['Monthly', 'monthly'], ['Yearly', 'yearly']], 
                                                    selected: @event.recurrence) %>
    </div>
    <div class="form-group">
      <%= f.label :start_date %>
      <%= f.fields_for :schedule, @event.schedule do |s| %>
        <%= s.date_select :start_time, start_year: Date.today.year %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.submit 'Update', class: 'btn btn-primary' %>
      <%= link_to 'Back', user_events_path, class: 'btn btn-default' %>
    </div>
  <% end %>
</div>