<section class="calendar-left">
  <h1>Full month calendar</h1>
  <ul>
    <li class="change-month-prev"><%= link_to 'Previous', user_events_path(current_user,
                    date: @date.prev_month.beginning_of_month), remote: true %></li>
    <li class="current-month"><%= @date.strftime('%B %Y') %></li>
    <li class="change-month-next"><%= link_to 'Next', user_events_path(current_user,
                    date: @date.next_month.beginning_of_month), remote: true %></li>
  </ul>

  <%= render partial: 'calendar', locals: { date: @date } %>
</section>

<section class="calendar-right">
  <h2 class="current-date"><%= @date.strftime('%A, %e.%m.%Y') %></h2>

  <%= render partial: 'list', locals: { events: @events } %>
</section>