<%= javascript_include_tag 'rails_month_dates' %>

<% content_for :title, "Creating new event" %>

<section class="form-section">
  <h1 class="text-center">Creating new event</h1>

  <%= form_for([@user, @event]) do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :recurrence %>
      <%= f.select :recurrence, options_for_select([['One-time', 'one-time'], ['Daily', 'daily'], ['Weekly', 'weekly'],
                                                    ['Monthly', 'monthly'], ['Yearly', 'yearly']]) %>
    </div>
    <div class="form-group">
      <%= f.label :start_date %>
      <%= f.fields_for :schedule, @event.schedule do |s| %>
        <%= s.date_select :start_time, start_year: Date.today.year %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.submit 'Save', class: 'btn btn-primary' %>
      <%= link_to 'Back', user_events_path, class: 'btn btn-default' %>
    </div>
  <% end %>
</section>