<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) ? yield(:title) : "Calendar" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>

<body>
  <header>
    <h1><%= link_to 'Calendar App', '/' %></h1>
  </header>
  <nav>
    <% if current_user %>
      <ul class="nav-left">
        <li><%= link_to 'New event', new_user_event_path(current_user) %></li>
        <li><%= link_to 'All events list', user_list_path(current_user) %></li>
      </ul>
      <ul class="nav-right">
        <li><%= link_to current_user.email, edit_user_registration_path(current_user) %></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %></li>
      </ul>
    <% else %>
      <ul>
        <li><%= link_to 'Log In', new_user_session_path %></li>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
      </ul>
    <% end %>
  </nav>

  <% unless flash.blank? %>
    <% flash.each do |name, msg| %>
      <% classname_end = '' %>
      <% case name %>
      <% when 'notice' then classname_end += 'success' %>
      <% when 'alert' then classname_end += 'danger' %>
      <% when 'warning' then classname_end += 'warning' %>
      <% else classname_end += 'info' %>
      <% end %>
      <% classname = 'alert alert-' + classname_end %>
      <%= content_tag :div, msg, class: classname, role: 'alert' %>
    <% end %>
  <% end %>

  <% if @event && @event.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2><%= pluralize(@event.errors.count, 'error') %> :</h2>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <main>
    <%= yield %>
  </main>

  <footer>
    <p><small>&copy; 2015-2016 <%= link_to "Project at Github", "https://github.com/rgarifullin/CalendarApp/"%></small></p>
  </footer>
</body>
</html>
