<!DOCTYPE html>
<html>
<head>
  <title>Calendar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="navigation">
      <ul class="nav">
        <li class="navbar-brand"><%= link_to 'Calendar App', '/' %></li>
        <div class=" nav navbar-nav navbar-left" >
          <% if current_user %>
            <li><%= link_to 'New event', new_user_event_path(current_user) %></li>
            <li><%= link_to 'All events list', user_list_path(current_user) %></li>
          <% end %>
        </div>
        <div class="nav navbar-nav navbar-right">
          <% if current_user %>
            <li><%= link_to current_user.email, edit_user_registration_path(current_user) %></li>
            <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %></li>
          <% end %>
        </div>
      </ul>
    </div>
  </nav>

  <% unless flash.blank? %>
    <div class="alert" role="alert">
      <% flash.each do |name, msg| %>
        <% if name == 'notice' %>
          <%= content_tag :div, msg, class: 'alert alert-success' %>
        <% else %>
          <%= content_tag :div, msg, class: 'alert alert-danger' %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if @event && @event.errors.any? %>
    <div class="alert alert-danger">
      <p><%= pluralize(@event.errors.count, 'error') %> :</p>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= yield %>

</body>
</html>
